page-edit-usuario {

    .toolbar-title-md {
        padding: 0 10px !important;
        font-size: 1.5rem !important;
        font-weight: 100 !important;
        color: #d6d6d6;
    }

    .toolbar-background-md {
       
        background:#2c3842
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    
        color:#2bff00;
    }

    input{

        font-size: 1.5rem !important;

    }
}
