page-edit-loja {

    .toolbar-title-md {
        padding: 0 10px !important;
        font-size: 1.5rem !important;
        font-weight: 100 !important;
        color: #d6d6d6;
    }

    .toolbar-background-md {
       
        background:#2c3842
    }

    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    
        color:#2bff00;
    }

    .text-input-md {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 8px - 8px);
        font-size: 13px !important;
    }
    
    
    .item-md {
        font-size: 1.4rem !important;
        background-color: rgb(243, 243, 243) !important;
    
    }

}
